In [1]:
# Import pandas for data analysis
import pandas as pd

# Import numpy for numerical computation
import numpy as np

# Import matplotlib and seaborn for data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import sidetable

In [2]:
hotels = pd.read_csv('prices.csv')
hotels.head()

              board        date    hotel  price             rate          room
0          Desayuno  2022-06-01  Hotel 1    160     Reembolsable         Suite
1     Media Pension  2022-06-01  Hotel 1     92  No Reembolsable         Suite
2  Solo Alojamiento  2022-06-01  Hotel 1    192  No Reembolsable        Triple
3          Desayuno  2022-06-01  Hotel 1    101     Reembolsable  Junior Suite
4     Media Pension  2022-06-01  Hotel 1     79  No Reembolsable  Junior Suite

In [ ]:
list_hotel=list(hotels.hotel.sample(50))
list_hotel

In [3]:
hotels.board.unique()

array(['Desayuno', 'Media Pension', 'Solo Alojamiento',
       'Pension Completa', 'Todo Incluido'], dtype=object)

In [4]:
hotels.hotel.unique()

array(['Hotel 1', 'Hotel 2', 'Hotel 3', 'Hotel 4', 'Hotel 5'],
      dtype=object)

In [5]:
hotels.price.unique()

array([160,  92, 192, 101,  79,  83,  90, 164,  73,  85, 115,  93,  98,
       100, 197,  70, 150, 165, 104, 110, 157, 106,  75, 125, 179, 141,
       118, 130,  74, 194, 148, 124,  99, 147,  94,  86, 173, 196, 122,
       102,  96, 198, 190, 105, 128, 176, 153, 136, 127, 121, 181, 184,
       107, 119, 146, 187, 163, 114,  95, 138,  97,  81, 189, 154, 166,
       174, 191, 126, 159, 161, 123, 169, 113, 129, 151, 152, 132, 185,
       103, 142,  87,  82, 117, 109, 162, 180, 145, 168,  71, 120, 177,
       188, 175, 133, 108, 135, 178, 172, 112, 116, 199, 183, 134,  76,
        89, 195, 186, 144,  88, 111,  77,  80, 156, 170,  72, 193, 143,
       200,  91, 171, 139, 155, 137,  84, 158, 182, 167, 140, 131,  78,
       149])

In [6]:
hotels.rate.unique()

array(['Reembolsable', 'No Reembolsable'], dtype=object)

In [7]:
hotels.room.unique()

array(['Suite', 'Triple', 'Junior Suite', 'Doble', 'Individual'],
      dtype=object)